---

# Note: Try and limit these to packages that are distro-specific, and
# place commonly-named ones below.
- name: Install Amazon-Linux-specific prerequisites
  ansible.builtin.include_tasks: "{{ ansible_distribution | lower }}-{{ ansible_distribution_version }}.yml"
  when: ansible_distribution | lower == 'amazon'

- name: Install Ubuntu/Debian-specific prerequisites
  ansible.builtin.include_tasks: "{{ ansible_distribution | lower }}.yml"
  when: ansible_distribution | lower != 'amazon'

- name: Install common support packages
  ansible.builtin.package:
    name:
      - amazon-ec2-utils
      - fontconfig
      - jq
      - net-tools
      - nvme-cli
      - tar
      - yq

- name: Create product group
  ansible.builtin.group:
    name: "{{ atl_product_user }}"
    gid: "{{ atl_product_user_uid }}"

- name: Create product user
  ansible.builtin.user:
    name: "{{ atl_product_user }}"
    uid: "{{ atl_product_user_uid }}"
    group: "{{ atl_product_user }}"
    comment: "Product runtime user"

- name: Script to map EBS FS UUIDs to mountpoints via FS tags
  ansible.builtin.copy:
    src: ebs_uuids_to_mountpoints.sh
    dest: /usr/local/bin/ebs_uuids_to_mountpoints.sh
    owner: root
    group: root
    mode: "550"

- name: Register output of above script
  ansible.builtin.shell:  /usr/local/bin/ebs_uuids_to_mountpoints.sh
  register: ebs_uuids_to_mountpoints_output

- name: Convert above output to dict
  ansible.builtin.set_fact:
    uuids2mountpoints: >-
      {{ dict(ebs_uuids_to_mountpoints_output.stdout_lines | map('split', ':') | list) }}

- name: Mount ebs volumes
  ansible.builtin.include_tasks: mount_ebs_filesystem.yml
  loop: "{{ uuids2mountpoints | dict2items }}"
  
- name: Test aws cli is installed
  stat:
    path: "/usr/local/bin/aws"
  register: test_aws_installed
    
- name: Install AWS CLI
  ansible.builtin.include_tasks: install_aws_cli.yml  
  when: not test_aws_installed.stat.exists
  
- name: Stop systemd-cleanup deleting the jvm socket file
  ansible.builtin.copy:
    src: java.conf
    dest: "/usr/lib/tmpfiles.d/java.conf"
    owner: root
    group: root
    mode: "644"
  register: systemd_config_changed

- name: Force systemd to reload daemon configuration
  ansible.builtin.systemd_service:
    daemon_reload: yes
  when:
    - systemd_config_changed is defined
    - molecule_yml is not defined  # molecule cannot run systemctl commands and notest doesn't work for handlers
