---

# Note: Try and limit these to packages that are distro-specific, and
# place commonly-named ones below.
- name: Install Amazon-Linux-specific prerequisites
  ansible.builtin.include_tasks: "{{ ansible_distribution | lower }}-{{ ansible_distribution_version }}.yml"
  when: ansible_distribution | lower == 'amazon'

- name: Install Ubuntu/Debian-specific prerequisites
  ansible.builtin.include_tasks: "{{ ansible_distribution | lower }}.yml"
  when: ansible_distribution | lower != 'amazon'

- name: Install common support packages
  ansible.builtin.package:
    name:
      - amazon-ec2-utils
      - fontconfig
      - jq
      - net-tools
      - nvme-cli
      - tar
      - yq

- name: Create product group
  ansible.builtin.group:
    name: "{{ atl_product_user }}"
    gid: "{{ atl_product_user_uid }}"

- name: Create product user
  ansible.builtin.user:
    name: "{{ atl_product_user }}"
    uid: "{{ atl_product_user_uid }}"
    group: "{{ atl_product_user }}"
    comment: "Product runtime user"

- name: Mount ebs volumes
  ansible.builtin.include_tasks: mount_ebs_filesystem.yml
  loop: "{{ atl_ebs_filesystems | dict2items }}"

- name: Test aws cli is installed
  stat:
    path: "/usr/local/bin/aws"
  register: test_aws_installed
    
- name: Install AWS CLI
  ansible.builtin.include_tasks: install_aws_cli.yml  
  when: not test_aws_installed.stat.exists
  
- name: Stop systemd-cleanup deleting the jvm socket file
  ansible.builtin.copy:
    src: java.conf
    dest: "/usr/lib/tmpfiles.d/java.conf"
    owner: root
    group: root
    mode: "644"
  register: systemd_config_changed

- name: Force systemd to reload daemon configuration
  ansible.builtin.systemd_service:
    daemon_reload: yes
  when:
    - systemd_config_changed is defined
    - molecule_yml is not defined  # molecule cannot run systemctl commands and notest doesn't work for handlers

#
# !!! WARNING WARNING WARNING !!!
#
# Using entries in /etc/hosts to override DNS can only return a single address for a given hostname
# Do not use this in production!!!!
#
- name: Lookup DNS for ALB
  ansible.builtin.set_fact:
    alb_address: "{{ query('community.dns.lookup', atl_alb_endpoint) | first }}"

- name: Add servers to hosts file
  ansible.builtin.lineinfile:
    path: /etc/hosts
    line: "{{ alb_address }} {{ atl_host_overrrides }}"
  when: atl_do_host_overrides
    
# - name: Add server to hosts file
#   ansible.builtin.lineinfile:
#     path: /etc/hosts
#     line: "{{ ansible_facts['alb_address'] }} {{ item }}"
#   loop: "{{ atl_host_overrides: | split(' ') }}"
#   when: atl_do_host_overrides
