---

- name: "Create mountpoint {{ item.value }}"
  ansible.builtin.file:
    path:  "{{ item.value }}"
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Fetch the device name for the filesystem
  ansible.builtin.shell:
    cmd: "basename $(readlink /dev/disk/by-uuid/{{ item.key }})"
  register: device

- name: "Create an xfs filesystem on {{ item.key }}"
  community.general.filesystem:
    fstype: "{{ atl_ebs_fstype }}"
    state: present
    dev: "/dev/{{ device.stdout }}"

- name: "Mount {{ item.value }} by UUID"
  ansible.posix.mount:
    path:  "{{ item.value }}"
    src: "UUID={{ item.key }}"
    fstype: "{{ atl_ebs_fstype }}"
    opts: defaults
    state: mounted
