---

- name: "Create mountpoint {{ item.value }}"
  ansible.builtin.file:
    path:  "{{ item.value }}"
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: "Get nvme device"
  ansible.builtin.command: "readlink {{ item.key }}"
  register: nvme_device

- name: "Create an xfs filesystem on /dev/{{ nvme_device }}"
  community.general.filesystem:
    fstype: "{{ atl_ebs_fstype }}"
    state: present
    dev: "/dev/{{ nvme_device }}"
  
- name: "Get UUID"
  ansible.builtin.shell: "ls -l /dev/disk/by-uuid | grep '{{ nvme_device }}$' | awk '{print $9}'"
  register: uuid

- name: "Mount {{ item.value }} by UUID"
  ansible.posix.mount:
    path:  "{{ item.value }}"
    src: "UUID={{ uuid }}"
    fstype: "{{ atl_ebs_fstype }}"
    opts: defaults
    state: mounted

