#!/bin/bash

test -e {{ atl_product_home }}/dbconfig.xml || exit 0

grep -q 'AwsSecretsManagerStore' {{ atl_product_home }}/dbconfig.xml && exit 0

xmlstarlet ed --inplace \
	   --subnode '/jira-database-config/jdbc-datasource' \
	   --type elem --name 'atlassian-password-cipher-provider' \
	   --value 'com.atlassian.secrets.store.aws.AwsSecretsManagerStore' \
	   {{ atl_product_home }}/dbconfig.xml

xmlstarlet ed --inplace \
	   --update '/jira-database-config/jdbc-datasource/password' \
	   --value '{"region": "{{ atl_aws_region }}", "secretId": "{{ atl_secretsmanager_aws_secret_id }}", "secretPointer": "/password"}' \
	   {{ atl_product_home }}/dbconfig.xml
