#!/bin/bash

DBCONFIG="{{ atl_product_home }}/dbconfig.xml"

test -e $DBCONFIG || exit 0

grep -q 'AwsSecretsManagerStore' $DBCONFIG && exit 0

xmlstarlet ed --inplace \
	   --subnode '/jira-database-config/jdbc-datasource' \
	   --type elem --name 'atlassian-password-cipher-provider' \
	   --value 'com.atlassian.secrets.store.aws.AwsSecretsManagerStore' \
	   $DBCONFIG

xmlstarlet ed --inplace \
	   --update '/jira-database-config/jdbc-datasource/password' \
	   --value '{"region": "{{ atl_aws_region }}", "secretId": "{{ atl_secretsmanager_aws_secret_id }}", "secretPointer": "/password"}' \
	   $DBCONFIG

db_url=$(xmlstarlet sel -t -v 'jira-database-config/jdbc-datasource/url' $DBCONFIG | perl -pe 's/(.*\(host=)(.*?)(\).*)/$1{{ atl_db_host }}$3/')
xmlstarlet ed --inplace \
	   --update '/jira-database-config/jdbc-datasource/url' \
	   --value "${db_url}" \
	   $DBCONFIG


