#!/bin/bash

#
# Enable/disable jira recovery_admin user
# REF: https://confluence.atlassian.com/jirakb/restore-passwords-to-recover-admin-user-rights-972329273.html
#

ACTION=$1

tomcat_var_file="{{ atl_jvm_custom_opts_dir }}/recovery_admin_user"

case $ACTION in
    'enable')
	#
	# Enable recovery_admin user via tomcat vars
	#	
	if test -e $tomcat_var_file; then
	    recovery_admin_password=$(fgrep 'atlassian.recovery.password' $tomcat_var_file | sed -e 's/.*password=\(.*\)[[:space:]].*/\1/')
	    echo "recovery_admin user already enabled; password is: ${recovery_admin_password}"
	else
	    recovery_admin_password=$(pwgen -s 32 1)
	    echo "-Datlassian.recovery.password='$recovery_admin_password' -Datlassian.authentication.legacy.mode=true" > $tomcat_var_file
	    echo "recovery_admin password is: $recovery_admin_password"
	    
	    # Toggle internal directory on, external off
	    # REF: https://confluence.atlassian.com/jirakb/disabling-a-directory-via-the-jira-database-338366836.html
	    mycnf=$(/usr/local/bin/create_mycnf.sh)
	    mysql --defaults-file=$mycnf -e "UPDATE cwd_directory SET active = 1 WHERE lower_directory_name LIKE '%internal%';"
	    mysql --defaults-file=$mycnf -e "UPDATE cwd_directory SET active = 0 WHERE lower_directory_name NOT LIKE '%internal%';"

	    # Toggle enable-authentication-fallback on
	    # REF: https://confluence.atlassian.com/jirakb/bypass-saml-authentication-for-jira-data-center-869009810.html
	    mysql --defaults-file=$mycnf -e "UPDATE propertystring SET propertyvalue = 'true' WHERE ID = (SELECT ID FROM propertyentry WHERE PROPERTY_KEY LIKE 'com.atlassian.plugins.authentication.sso.config.enable-authentication-fallback');"
	    
	    rm $mycnf
	fi
	echo "Recovery admin username is shown on login page."
	;;
    
    'disable')
	if ! test -e $tomcat_var_file; then
	    echo "recovery_admin already disabled"
	    exit 1
	else
	    rm $tomcat_var_file
	    
	    # We only toggle auth-fallback, not the directory entry enabled/disabled states
	    # REF: https://confluence.atlassian.com/jirakb/bypass-saml-authentication-for-jira-data-center-869009810.html	    
	    mycnf=$(/usr/local/bin/create_mycnf.sh)
	    mysql --defaults-file=$mycnf -e "UPDATE propertystring SET propertyvalue = 'false' WHERE ID = (SELECT ID FROM propertyentry WHERE PROPERTY_KEY LIKE 'com.atlassian.plugins.authentication.sso.config.enable-authentication-fallback');"
	    rm $mycnf
	fi
	;;
    *)
	echo "Usage: $0 [enable|disable]"
	echo "Enable/disable jira recovery_admin user."
	exit 1
	;;
esac


