#!/bin/bash

#
# Returns the name of a temp file that can be sourced for environment
# variables. Needed for mysqlsh.
#
# REF:
#
# https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-metadata-security-credentials.html
# https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_use-resources.html
#

REGION="{{ atl_aws_region }}"
TTL_SECONDS=21600

ROLE_ARN=$(aws sts get-caller-identity | jq ".Arn")
ROLE_NAME=$(echo $ROLE_ARN | awk -F/ '{print $2}')

js_tmpfile=$(mktemp)

# Test whether instance is using IMDSv1 or IMDSv2
if (( $(curl -o /dev/null -s -w "%{http_code}\n" http://169.254.169.254/latest/meta-data) != 200 )); then
    curl "http://169.254.169.254/latest/meta-data/iam/security-credentials/$ROLE_NAME" > $js_tmpfile 2>/dev/null
else 
    TOKEN=$(curl -X PUT "http://169.254.169.254/latest/api/token" -H "X-aws-ec2-metadata-token-ttl-seconds: TTL_SECONDS" 2>/dev/null)
    curl -H "X-aws-ec2-metadata-token: $TOKEN" "http://169.254.169.254/latest/meta-data/iam/security-credentials/$ROLE_NAME" > $js_tmpfile 2>/dev/null 
fi
    
env_file=$(mktemp)
echo "export AWS_ACCESS_KEY_ID=$(cat $js_tmpfile | jq '.AccessKeyId')" >> $env_file
echo "export AWS_SECRET_ACCESS_KEY=$(cat $js_tmpfile | jq '.SecretAccessKey')" >> $env_file
echo "export AWS_SESSION_TOKEN=$(cat $js_tmpfile | jq '.Token')" >> $env_file
echo "export AWS_REGION='$REGION'" >> $env_file
echo $env_file

rm $js_tmpfile
