#!/bin/bash

#
# FIXME datestamp backup?
#

# Whatever API mysqlsh uses needs these even though the AWS CLI works
# with just the instance role
# FIXME there are different versions of the whole metadata interface,
# we should use the newest
instance_role=$(curl curl http://169.254.169.254/latest/meta-data/iam/security-credentials)
creds=$(curl "http://169.254.169.254/latest/meta-data/iam/security-credentials/${instance_role}")
export AWS_SESSION_TOKEN=$(echo $creds | jq ".Token")
export AWS_ACCESS_KEY_ID=$(echo $creds | jq ".AccessKeyId")
export AWS_SECRET_ACCESS_KEY=$(echo $creds | jq ".SecretAccessKey")


#
# Backup the database to app home
# REF: https://dev.mysql.com/doc/mysql-shell/8.0/en/mysql-shell-utilities-dump-instance-schema.html
#
export DB_DUMP_DIR="{{ atl_home_base }}/db_backup"
test -d $DB_DUMP_DIR || mkdir -p $DB_DUMPDIR
mycnf=$(/usr/local/bin/create_mycnf.sh)
/usr/bin/mysqlsh --defaults-file=$mycnf <<EOF
util.dumpSchemas(
  [ "{{ atl_jdbc_db_name }}" ],
  "${DB_DUMP_DIR}",
  {
    compatibility: [ "strip_definers" ]
  }
)
EOF
rm $mycnf

#
# Create EBS snapshot given mountpoint
#
# WARNING AWS RECOMMENDS PAUSING WRITE TO OR UNMOUNTING VOLUMES
# UNTIL SNAPSHOT ENTERS PENDING STATE
#
create_ebs_snapshot() {
    mountpoint=$1
    device=$(df --output=source $mountpoint | grep -v Filesystem)
    vol_id=$(/sbin/ebsnvme-id $device | sed -ne 's/Volume ID: \(.*\)/\1/p')

    tags=''
    tags="$tags,{Key=application,Value={{ atl_product_edition }}}"
    tags="$tags,{Key=site,Value={{ atl_proxy_name }}}"
    tags="$tags,{Key=app-version,Value={{ atl_product_version }}}"
    aws ec2 create-snapshot \
	--description "Backup of $mountpoint for {{ atl_proxy_name }}" \
	--volume-id $vol_id
	--tag-specifications "ResourceType=snapshot,Tags=[${tags}]"
}

create_ebs_snapshot /var/atlassian/application-data
create_ebs_snapshot /opt/atlassian
