#!/bin/bash

# Create backup
/usr/local/bin/backup.sh

# Delete old database dumps
db_dump_root="{{ atl_db_dump_root }}"
while [ 1 ]; do
    num_dumps=$(ls -t1 $db_dump_root | wc -l)
    if (( $num_dumps > {{ atl_backups_retained }} )); then
	last_dump=$(ls -t1 $db_dump_root | tail -1)
	rm -rf "${db_dump_root}/${last_dump}"
    else
	break
    fi
done

# Delete old backup snapshots
