#!/bin/bash

APP="{{ atl_product_family }}"

s3_backup_url=$1

if test -z "s3_backup_url"; then
       cat << EOF
Usage: $0 s3_backup_url

Restore database and home directory for app "$APP";
s3_backup_url must contain files home.tar.zst and db.sql.zst

THE APPLICATION SHOULD BE STOPPED BEFORE RESTORE!
EOF
exit 1
fi

if systemctl is-active --quiet $APP; then
    echo "Service \"$APP\" is running; must be stopped before restore."
    exit 1
fi

if ! s5cmd ls "${s3_backup_url}/home.tar.zst" > /dev/null 2>&1; then
    echo "s3_backup_url doesn't have home.tar.zst"
    exit 1
fi

if ! s5cmd ls "${s3_backup_url}/db.sql.zst" > /dev/null 2>&1; then
    echo "s3_backup_url doesn't have db.sql.zst"
    exit 1
fi

#
# Restore home directory
#
echo "Restoring home directory from clone backup"
clone_excludes=$(cat /var/clone_fs_excludes)
s5cmd cat "${s3_backup_url}/home.tar.zst" | tar -C {{ atl_product_home }} -X $excludes --zstd -f -
chown -R {{ atl_product_user }}:{{ atl_product_user }} {{ atl_product_home }}



mycnf=$(/usr/local/bin/create_mycnf.sh)

# Change the baseurl FQDN in the dump to our current one on restore
src_site_fqdn=$(cat "${homedir}/SITE_FQDN")
target_site_fqdn=$(mysql --defaults-file=$mycnf -sre "select BANDANAVALUE from BANDANA where BANDANACONTEXT = '_GLOBAL' and BANDANAKEY = 'atlassian.confluence.settings';" | perl -ne 'm(\Q<baseUrl>https://\E(.*)<.*) && print $1;')

echo "Restoring database from clone backup"
s5cmd cat "${s3_backup_url}/db.sql.zst" \
    | zstd --decompress --stdout \
    | perl -pe "s/\Q$src_site_fqdn\E/$target_site_fqdn/g" \
    | perl -pe 's/DEFINER=.*?(?=[* ])/DEFINER=CURRENT_USER/;' \
    | mysql --defaults-file=$mycnf

rm "${homedir}/SITE_FQDN"
rm $mycnf
