#!/bin/bash

# GRANT RELOAD, PROCESS ON *.* TO 'confluenceuser'@'%';
# GRANT SHOW_ROUTINE ON *.* TO 'confluenceuser'@'%';

APP={{ atl_product_edition }}
homedir="/var/atlassian/application-data/${APP}"

BACKUPROOT=/var/atlassian/application-data/backup
backupdir=$BACKUPROOT/$(date +'%Y-%m-%dT%H:%M:%S%:z')
mkdir -p $backupdir
echo "Backing up to ${backupdir}/"

#
# Backup database
#
echo "Backing up database"
mycnf=$(/usr/local/bin/create_mycnf.sh)

mysqldump --defaults-file=$mycnf \
	  --add-drop-table \
	  --create-options \
	  --disable-keys \
	  --events \
	  --extended-insert \
	  --max_allowed_packet=512M \
	  --quick \
	  --quote-names \
	  --routines \
	  --set-charset \
	  --set-gtid-purged=OFF \
	  --single-transaction \
	  --triggers \
	  $database | gzip > "${backupdir}/db.sql.gz"

site_fqdn=$(mysql --defaults-file=$mycnf -sre "select BANDANAVALUE from BANDANA where BANDANACONTEXT = '_GLOBAL' and BANDANAKEY = 'atlassian.confluence.settings';" | perl -ne 'm(\Q<baseUrl>https://\E(.*)<.*) && print $1;')

rm $mycnf

#
# Backup home directory
#
echo "Backing up home directory"
echo $site_fqdn > "${homedir}/SITE_FQDN"  # Used for DB substitutions on restore
tar -C $homedir -zcf "${backupdir}/home.tgz" .
