#!/usr/bin/perl -w

use English;
use warnings;
use strict;
use XML::Twig;
use File::Temp;
use File::Copy;

my $xml_file = "{{ atl_product_home }}/confluence.cfg.xml";
exit unless -e $xml_file;


my $elements = {
    'jdbc.password.decrypter.classname' => 'com.atlassian.secrets.store.aws.AwsSecretsManagerStore',
    'hibernate.connection.password' => '{"region": "{{ atl_aws_region }}", "secretId": "{{ atl_secretsmanager_aws_secret_id }}", "secretPointer": "/password"}'
};

sub handler {
    foreach my $property ( $_->findnodes('//property') ) {
        if( defined($elements->{$property->att('name')}) ){
            $property->delete;
        }
    }

    while (my ($key, $value) = each %{$elements}) {
        $_->insert_new_elt('last_child', 'property', { 'name' => $key }, $value);
    }
}

my $main_twig = XML::Twig->new(
    pretty_print => 'indented',
    twig_handlers =>
    {
             'confluence-configuration/properties' => \&handler
    }
    );

$main_twig->parsefile($xml_file);

my $tmpfh = File::Temp->new(UNLINK => 0);
my $tmpname = $tmpfh->filename;
$main_twig->print($tmpfh);
close($tmpfh);
move($tmpname, $xml_file);
