#!/bin/bash
# REF: https://confluence.atlassian.com/doc/configuring-confluence-with-aws-secrets-manager-1299911239.html

test -e {{ atl_product_home }}/confluence.cfg.xml || exit 0

grep -q 'AwsSecretsManagerStore' {{ atl_product_home }}/confluence.cfg.xml && exit 0

xmlstarlet ed --inplace \
	   --subnode '/confluence-configuration/properties' \
	   --type elem --name 'property' \
	   --value 'com.atlassian.secrets.store.aws.AwsSecretsManagerStore' \
	   {{ atl_product_home }}/confluence.cfg.xml

xmlstarlet ed --inplace \
	   --insert '/confluence-configuration/properties/property[text()="com.atlassian.secrets.store.aws.AwsSecretsManagerStore"]' \
	   --type attr --name "name" --value "jdbc.password.decrypter.classname" \
 	   {{ atl_product_home }}/confluence.cfg.xml

xmlstarlet ed --inplace \
	   --update '/confluence-configuration/properties/property[@name="hibernate.connection.password"]' \
	   --value '{"region": "{{ atl_aws_region }}", "secretId": "{{ atl_secretsmanager_aws_secret_id }}", "secretPointer": "/password"}' \
 	   {{ atl_product_home }}/confluence.cfg.xml

