#!/usr/bin/perl -w

use English;
use warnings;
use strict;
use XML::Twig;
use File::Temp;
use File::Copy;

my $xml_file = "{{ atl_product_home }}/confluence.cfg.xml";

my $elements = {
    'com.atlassian.secrets.store.aws.AwsSecretsManagerStore' => 'com.atlassian.secrets.store.aws.AwsSecretsManagerStore',
    'jdbc.password.decrypter.classname' => 'com.atlassian.secrets.store.aws.AwsSecretsManagerStore',
    'hibernate.connection.password' => '{"region": "{{ atl_aws_region }}", "secretId": "{{ atl_secretsmanager_aws_secret_id }}", "secretPointer": "/password"}'
};


sub handler {
    my($twig, $element);
    foreach my $property ( $twig->root->children ) {
	if( defined($elements->{$property->att('name')}) ){
	    $property->delete;
 	} 
    }

    while (my ($key, $value) = each %{$elements}) {
	$twig->root->insert_new_elt('last_child', 'property', { 'name' => $key }, $value);
    }
}

my $main_twig = XML::Twig->new(
    pretty_print => 'indented',
    twig_handlers =>
    {
	'confluence-configuration/properties/property' => \@handler
    }
    );

$main_twig->parsefile($xml_file);

$main_twig->print;


# ###############################################
# my $twig = XML::Twig->new(
#     pretty_print => 'indented',
#     twig_roots =>
#     {
# 	'confluence-configuration/properties/property' => 1
#     }
#     );

# $twig->parsefile($xml_file);

# foreach my $property ( $twig->root->children ) {
# 	if( defined($elements->{$property->att('name')}) ){
# 		$property->delete;
#  	} 
# }

# while (my ($key, $value) = each %{$elements}) {
#     $twig->root->insert_new_elt('last_child', 'property', { 'name' => $key }, $value);
# }

# my $tmpfh = File::Temp->new(UNLINK => 0);
# my $tmpname = $tmpfh->filename;
# $twig->print($tmpfh);
# close($tmpfh);
# move($tmpname, $xml_file);

    



