#!/bin/bash

# Enable/disable confluence recovery_admin user

ACTION=$1

tomcat_var_file="{{ atl_jvm_custom_opts_dir }}/recovery_admin_user"

case $ACTION in
    'enable')
	#
	# Enable recovery_admin user in setenv.sh
	#
	bandanaval='true'
	if test -e $tomcat_var_file; then
	    recovery_admin_password=$(sed -ne "s/-Datlassian.recovery.password='\(.*\)'/\1/p" $tomcat_var_file)
	    echo "Recovery_admin user already enabled."
	    echo "Login URL: https://{{ atl_proxy_name }}/login.action?auth_fallback"
	    grep -oh 'Recovery admin username:.*' "{{ atl_product_home }}/logs/atlassian-confluence-security.log" | tail -1
	    echo "Recovery admin password: '${recovery_admin_password}'"
	    exit 1
	else
	    recovery_admin_password=$(pwgen -s 32 1)
	    echo "-Datlassian.recovery.password='$recovery_admin_password'" > $tomcat_var_file
	    echo "recovery_admin password is: $recovery_admin_password"
	fi
	echo "When confluence is restarted, find recovery admin user name like this:"
	echo "grep 'Recovery admin username' {{ atl_product_home }}/logs/atlassian-confluence-security.log"
	echo "Login at this URL: https://{{ atl_proxy_name }}/login.action?auth_fallback"
	;;
    'disable')
	#
	# Disable recovery_admin user in setenv.sh
	#
	bandanaval='false'
	if ! test -e $tomcat_var_file; then
	    echo "recovery_admin already disabled"
	    exit 1
	else
	    rm $tomcat_var_file
	fi
	;;
    *)
	echo "Usage: $0 [enable|disable]"
	echo "Enable/disable confluence recovery_admin user."
	exit 1
	;;
esac

mycnf=$(/usr/local/bin/create_mycnf.sh)
mysql --defaults-file=$mycnf -e "UPDATE BANDANA SET BANDANAVALUE='<string>${bandanaval}</string>' WHERE BANDANAKEY='com.atlassian.plugins.authentication.sso.config.enable-authentication-fallback';"
rm $mycnf

