#!/bin/bash

# Enable/disable confluence recovery_admin user

ACTION=$1

setenv_file="{{ atl_product_installation_current }}/bin/setenv.sh"

case $ACTION in
    'enable')
	#
	# Enable recovery_admin user in setenv.sh
	#
	bandanaval='true'

	setenv_backup=$(dirname $setenv_file)/$(basename $setenv_file).$(date --iso-8601=seconds)
	cp $setenv_file $setenv_backup
	echo "setenv.sh file has been backed up to \"$setenv_backup\""
	
	recovery_admin_password=$(fgrep 'atlassian.recovery.password' $setenv_file | sed -e 's/.*password=\(.*\)[[:space:]].*/\1/')
	if ! test -z $recovery_admin_password; then
	    echo "Recovery_admin user already enabled."
	    grep -oh 'Recovery admin username:.*' "{{ atl_product_home }}/logs/atlassian-confluence-security.log" | tail -1
	    echo "Recovery admin password: '${recovery_admin_password}'"
	else
	    recovery_admin_search_line='CATALINA_OPTS="${START_CONFLUENCE_JAVA_OPTS} ${CATALINA_OPTS}"'
	    recovery_admin_password=$(pwgen -s 32 1)
	    add_line='CATALINA_OPTS="-Datlassian.recovery.password='$recovery_admin_password' ${CATALINA_OPTS}"'
	    perl -i -spe 's/(\Q$recovery_admin_search_line\E)/$add_line\n$1/;' -- \
		 -recovery_admin_search_line="$recovery_admin_search_line" \
		 -add_line="$add_line" $setenv_file
	    echo "recovery_admin password is: $recovery_admin_password"
	fi
	echo "When confluence is restarted, find recovery admin user name like this:"
	echo "grep 'Recovery admin username' {{ atl_product_home }}/logs/atlassian-confluence-security.log"
	echo "Login at this URL: https://{{ atl_proxy_name }}/login.action?auth_fallback"
	;;
    'disable')
	#
	# Disable recovery_admin user in setenv.sh
	#
	bandanaval='false'
	perl -i -lne 'print unless /\Q-Datlassian.recovery.password=\E/;' $setenv_file
	;;
    *)
	echo "Usage: $0 [enable|disable]"
	echo "Enable/disable confluence recovery_admin user."
	exit 1
	;;
esac

mycnf=$(/usr/local/bin/create_mycnf.sh)
mysql --defaults-file=$mycnf -e "UPDATE BANDANA SET BANDANAVALUE='<string>${bandanaval}</string>' WHERE BANDANAKEY='com.atlassian.plugins.authentication.sso.config.enable-authentication-fallback';"
rm $mycnf

