#!/bin/bash

#
# Enable/disable email at tomcat level
#

ACTION=$1

tomcat_var_file="{{ atl_jvm_custom_opts_dir }}/disable_email"

case $ACTION in
    'off')
	if test -e $tomcat_var_file; then
	    echo 'Mail already disabled in tomcat config'
	else
	    echo '-Datlassian.mail.senddisabled=true -Datlassian.mail.fetchdisabled=true' > $tomcat_var_file
	fi
	;;

    'on')
	if ! test -e $tomcat_var_file; then
	    echo 'Mail already enabled in tomcat config'
	else
	    rm $tomcat_var_file
	fi
	;;
    *)
	echo "Usage: $0 [on|off]"
	echo "Toggle email on/off via tomcat args"
	exit 1
	;;
esac
